<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign UP</title>
</head>
<body>
<h2>This is sign_up</h2>
<form action="/Member/Add" method="post">
    <ul>
        <li>ID:<input name="mID" type="text"/></li>
        <li>Password:<input name="mPW" type="text"/></li>
        <li>Name:<input name="name" type="text"/></li>
        <li>Address<input name="address" type="text"/></li>
        <li><input type="submit"/>
    </ul>
</form>
<form action="/">
    <input type="submit"/>
</form>
</body>
</html>